<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>

	<!-- META ============================================= -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	
	<!-- DESCRIPTION -->
	<meta name="description" content="SPM : Đặt sân bóng trực tuyến" />
	
	<!-- OG -->
	<meta property="og:title" content="SPM : Đặt sân bóng trực tuyến" />
	<meta property="og:description" content="SPM : Đặt sân bóng trực tuyến" />
	<meta property="og:image" content="" />
	<meta name="format-detection" content="telephone=no">
	
	<!-- FAVICONS ICON ============================================= -->
	<link rel="icon" th:href="@{/assets/images/favicon.ico}" type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/images/favicon.png}" />
	
	<!-- PAGE TITLE HERE ============================================= -->
	<title>SPM : Đặt sân bóng trực tuyến </title>
	
	<!-- MOBILE SPECIFIC ============================================= -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!--[if lt IE 9]>
	<script th:src="@{/assets/js/html5shiv.min.js}"></script>
	<script th:src="@{/assets/js/respond.min.js}"></script>
	<![endif]-->
	
	<!-- All PLUGINS CSS ============================================= -->
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/assets.css}">
	
	<!-- TYPOGRAPHY ============================================= -->
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/typography.css}">
	
	<!-- SHORTCODES ============================================= -->
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/shortcodes/shortcodes.css}">
	
	<!-- STYLESHEETS ============================================= -->
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}">
	<link class="skin" rel="stylesheet" type="text/css" th:href="@{/assets/css/color/color-1.css}">

	<script>
		function submitLogoutForm() {
			document.getElementById('logoutForm').submit();
		}
	</script>
</head>
<body id="bg">
<div class="page-wraper">
<div id="loading-icon-bx"></div>
	<!-- Header Top ==== -->
    <header class="header rs-nav">
		<div class="top-bar">
			<div class="container">
				<div class="row d-flex justify-content-between">
					<div class="topbar-left">
						<ul>
							<li><a href="faq-1.html"><i class="fa fa-question-circle"></i>Ask a Question</a></li>
							<li><a href="javascript:;"><i class="fa fa-envelope-o"></i>Support@website.com</a></li>
						</ul>
					</div>
					<div class="topbar-right">
						<ul>
							<li th:text="${#authentication.name == 'anonymousUser' ? '' : (#authentication instanceof T(org.springframework.security.oauth2.client.authentication.OAuth2AuthenticationToken)
        ? #authentication.principal.attributes['email'] : #authentication.name)}"></li>
							<li th:if="${#authentication.name == 'anonymousUser'}"><a th:href="@{/showLoginPage}">Đăng nhập</a></li>
							<li th:if="${#authentication.name == 'anonymousUser'}"><a th:href="@{/register/showRegisterForm}">Đăng kí</a></li>
							<li><a th:if="${#authentication.name != 'anonymousUser'}" th:href="@{/view/profile(email=${#authentication instanceof T(org.springframework.security.oauth2.client.authentication.OAuth2AuthenticationToken)
        ? #authentication.principal.attributes['email'] : #authentication.name})}">Xem hồ sơ</a></li>
							<li th:if="${#authentication.name != 'anonymousUser'}">
								<form id="logoutForm" action="#" th:action="@{/logout}" method="post">
									<!-- No submit button here -->
								</form>
								<a href="#" th:if="${#authentication.name != 'anonymousUser'}" onclick="submitLogoutForm(); return false;">
									Thoát
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="sticky-header navbar-expand-lg">
            <div class="menu-bar clearfix">
                <div class="container clearfix">
					<!-- Header Logo ==== -->
					<div class="menu-logo">
						<a th:href="@{/spm/home}"><img th:src="@{/assets/images/logo.png}" alt=""></a>
					</div>
					<!-- Mobile Nav Button ==== -->
                    <button class="navbar-toggler collapsed menuicon justify-content-end" type="button" data-toggle="collapse" data-target="#menuDropdown" aria-controls="menuDropdown" aria-expanded="false" aria-label="Toggle navigation">
						<span></span>
						<span></span>
						<span></span>
					</button>
					<!-- Author Nav ==== -->
                    <div class="secondary-menu">
                        <div class="secondary-inner">
                            <ul>
								<!-- Search Button ==== -->
								<li class="search-btn"><button id="quik-search-btn" type="button" class="btn-link"><i class="fa fa-search"></i></button></li>
							</ul>
						</div>
                    </div>
					<!-- Search Box ==== -->
                    <div class="nav-search-bar">
                        <form>
                            <input name="keyword" value="" type="text" class="form-control" placeholder="Type to search" th:value="${keyword}">
                            <span><i class="ti-search"></i></span>
                        </form>
						<span id="search-remove"><i class="ti-close"></i></span>
                    </div>
					<!-- Navigation Menu ==== -->
                    <div class="menu-links navbar-collapse collapse justify-content-start" id="menuDropdown">
						<div class="menu-logo">
							<a th:href="@{/spm/home}"><img th:src="@{/assets/images/logo.png}" alt=""></a>
						</div>
                        <ul class="nav navbar-nav" >
							<li class="active"><a th:href="@{/spm/home}">Tất cả</a></li>
							<li><a th:href="@{/spm/view-pitch(idLoaiSan=${loaiSanList.get(0).getId()})}" th:text="${loaiSanList.get(0).getTenLoaiSan()}"></a></li>
							<li><a th:href="@{/spm/view-pitch(idLoaiSan=${loaiSanList.get(1).getId()})}" th:text="${loaiSanList.get(1).getTenLoaiSan()}"></a></li>
							<li><a th:href="@{/spm/view-pitch(idLoaiSan=${loaiSanList.get(2).getId()})}" th:text="${loaiSanList.get(2).getTenLoaiSan()}"></a></li>
							<li class="nav-dashboard" sec:authorize="hasRole('ROLE_ADMIN')">
								<a href="javascript:;" th:href="@{/admin/showEmployee}">Quản trị</a>
							</li>
							<li class="nav-dashboard" sec:authorize="hasRole('ROLE_EMPLOYEE')">
								<a href="javascript:;" th:href="@{/admin/tinhTrangSan}">Tình trạng sân</a>
							</li>
						</ul>
                    </div>
					<!-- Navigation Menu END ==== -->
                </div>
            </div>
        </div>
    </header>
    <!-- header END -->
    <!-- Inner Content Box ==== -->
    <div class="page-content bg-white">
        <!-- Page Heading Box ==== -->
        <div class="page-banner ovbl-dark" style="background-image:url(assets/images/banner/banner1.jpg);">
            <div class="container">
                <div class="page-banner-entry">
                    <h1 class="text-white">Trang chủ</h1>
				 </div>
            </div>
        </div>
		<div class="breadcrumb-row">
			<div class="container">
				<ul class="list-inline">
					<li><a href="#">Trang chủ</a></li>
				</ul>
			</div>
		</div>
		<!-- Page Heading Box END ==== -->
		<!-- Page Content Box ==== -->
        <div class="content-block">
			<!-- Blog Grid ==== -->
			<div class="section-area section-sp1">
				<div class="container">
					<div class="ttr-blog-grid-3 row" id="masonry">
						<div class="post action-card col-lg-4 col-md-6 col-sm-12 col-xs-12 m-b40" th:each="sanBong : ${sanBongList}">
							<div class="recent-news" >
								<div class="action-box">
									<img th:src="${sanBong.getHinhAnh()}" alt="">
								</div>
								<div class="info-bx">
									<h5 class="post-title"><a th:href="@{/view/san-bong-detail(idSanBong=${sanBong.getId()}, email=${#authentication instanceof T(org.springframework.security.oauth2.client.authentication.OAuth2AuthenticationToken)
        ? #authentication.principal.attributes['email'] : #authentication.name})}" th:text="${sanBong.getTenSanBong()}"></a></h5>
									<p th:text="${sanBong.getMoTaSan()}"></p>
									Địa chỉ: <span th:text="${sanBong.getDiaDiem()}"></span>
								</div>
							</div>
						</div>

					</div>
					<!-- Pagination ==== -->
					<div class="pagination-bx rounded-sm gray clearfix">
						<ul class="pagination">
							<li class="previous" th:if="${currentPage > 1}"><a th:href="@{'?pageNo='+${currentPage-1}}"><i class="ti-arrow-left"></i> Prev</a></li>
							<li  th:each="i:${#numbers.sequence(1,totalPage)}" th:classappend="${currentPage == i ? 'active' : ''}"><a th:href="@{${keyword !=null && keyword!=''? '?keyword='+keyword+'&':'?'}+'pageNo='+${i}}" th:text="${i}"></a></li>

							<li class="next" th:if="${currentPage < totalPage}"><a th:href="@{'?pageNo='+${currentPage+1}}">Next <i class="ti-arrow-right"></i></a></li>
						</ul>
					</div>
					<!-- Pagination END ==== -->
				</div>
			</div>
			<!-- Blog Grid END ==== -->
        </div>
		<!-- Page Content Box END ==== -->
    </div>
    <!-- Page Content Box END ==== -->

	<!-- Footer ==== -->
    <footer>
        <div class="footer-top">
			<div class="pt-exebar">
				<div class="container">
					<div class="d-flex align-items-stretch">
						<div class="pt-logo mr-auto">
							<a href="index.html"><img src="assets/images/logo-white.png" alt=""/></a>
						</div>
						<div class="pt-social-link">
							<ul class="list-inline m-a0">
								<li><a href="#" class="btn-link"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#" class="btn-link"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#" class="btn-link"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#" class="btn-link"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
						<div class="pt-btn-join">
							<a href="#" class="btn ">Tham gia</a>
						</div>
					</div>
				</div>
			</div>
            <div class="container">
                <div class="row">
					<div class="col-lg-4 col-md-12 col-sm-12 footer-col-4">
                        <div class="widget">
                            <h5 class="footer-title">GIỚI THIỆU</h5>
							<p class="text-capitalize m-b20">Đặt sân SPM cung cấp các tiện ích thông minh giúp cho bạn tìm sân bãi và đặt sân một cách hiệu quả nhất.</p>
                        </div>
                    </div>
					<div class="col-12 col-lg-5 col-md-7 col-sm-12">
						<div class="row">
							<div class="col-4 col-lg-4 col-md-4 col-sm-4">
								<div class="widget footer_widget">
									<h5 class="footer-title">THÔNG TIN</h5>
									<ul>
										<li><a href="#">Trang web</a></li>
										<li><a href="#">Đăt sân</a></li>
										<li><a href="#">Liên hệ</a></li>
										<li><a href="#">sự kiện</a></li>
									</ul>
								</div>
							</div>
							<div class="col-4 col-lg-4 col-md-4 col-sm-4">
								<div class="widget footer_widget">
									<h5 class="footer-title">DỊCH VỤ</h5>
									<ul>
										<li><a href="courses.html">Tìm đối</a></li>
										<li><a href="courses-details.html">Hồ sơ</a></li>
										<li><a href="membership.html">Chăm sóc khách hàng</a></li>
										<li><a href="profile.html">Hoàn tiền</a></li>
									</ul>
								</div>
							</div>
						</div>
                    </div>
					<div class="col-12 col-lg-3 col-md-5 col-sm-12 footer-col-4">
                        <div class="widget widget_gallery gallery-grid-4">
                            <h5 class="footer-title">MÔ TẢ</h5>
                            <ul class="magnific-image">
								<li><a th:href="@{/assets/images/gallery/pic1.jpg}" class="magnific-anchor"><img th:src="@{/assets/images/gallery/pic1.jpg}" alt=""></a></li>
								<li><a th:href="@{/assets/images/gallery/pic2.jpg}" class="magnific-anchor"><img th:src="@{/assets/images/gallery/pic2.jpg}" alt=""></a></li>
								<li><a th:href="@{/assets/images/gallery/pic3.jpg}" class="magnific-anchor"><img th:src="@{/assets/images/gallery/pic3.jpg}" alt=""></a></li>
								<li><a th:href="@{/assets/images/gallery/pic4.jpg}" class="magnific-anchor"><img th:src="@{/assets/images/gallery/pic4.jpg}" alt=""></a></li>
							</ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 text-center"><a target="_blank">Group 5 SWP</a></div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer END ==== -->
    <button class="back-to-top fa fa-chevron-up"></button>

</div>
<!-- External JavaScripts -->
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/vendors/bootstrap/js/popper.min.js}"></script>
<script th:src="@{/assets/vendors/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/vendors/bootstrap-select/bootstrap-select.min.js}"></script>
<script th:src="@{/assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js}"></script>
<script th:src="@{/assets/vendors/magnific-popup/magnific-popup.js}"></script>
<script th:src="@{/assets/vendors/counter/waypoints-min.js}"></script>
<script th:src="@{/assets/vendors/counter/counterup.min.js}"></script>
<script th:src="@{/assets/vendors/imagesloaded/imagesloaded.js}"></script>
<script th:src="@{/assets/vendors/masonry/masonry.js}"></script>
<script th:src="@{/assets/vendors/masonry/filter.js}"></script>
<script th:src="@{/assets/vendors/owl-carousel/owl.carousel.js}"></script>
<script th:src="@{/assets/js/functions.js}"></script>
<script th:src="@{/assets/js/contact.js}"></script>
<script th:src="@{/assets/vendors/switcher/switcher.js}"></script>
</body>

</html>
